.gaming-component{
    overflow-y: scroll;
    height: 90vh;
}
.gaming-component{
    overflow: scroll; /* Enables scrolling */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}
@media screen and (max-width : 576px) {
    .gaming-component{
        height: 92vh;
    }
}
@media screen and (min-width : 576px ) {
    
}
@media screen and (min-width : 768px ) {
    
}