.failed-img{
    height: auto;
    width: 60%;
}
.failure-retry-button{
    width: 120px;
    background-color: #00306e;
    color: white;
    height: 35px;
}
.no-saved-videos{
    height: 90vh;
}
@media screen and (max-width : 576px) {
    .no-saved-videos{
        height: 92vh;
    }
}
@media screen and (min-width : 576px ) {
    .failed-img{
        width: 30%;
    }
}
@media screen and (min-width : 768px ) {
    
}