.sub-option-container{
    width: 100%;
    display: flex;
    gap : 20px;
    align-items: end;
    padding : 5px 0 9px 15px;
}
.current-option-dark{
    background: #383838;
}
.current-option-light{
    background: #f1f5f9;
}
.options-container{
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.options-container-light{
    color: black;
}
.sub-option-text{
    font-size: 1em;
}
.options-container-dark{
    color: white;
}
.current-option h1{
    font-weight: bolder;
}


.options-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap : 10px;
}
@media screen and (max-width : 576px) {
    .options-footer{
        padding-left: 10px;
    }
    .options-container{
        height: auto;
    }
}
@media screen and (max-width : 992px ) {
    .sub-option-container{
        padding-left: 33%;
    }

}
@media screen and (min-width : 768px ) {
}