.body{
  overflow: hidden;
}
.body-dark{
  background-color: #181818;
  width: 100%;
  min-height: 100vh;
  color: white;
}
.body-light{
  background-color: #f9f9f9;
  width: 100%;
  min-height: 100vh;
  color: black;
}

*{
  box-sizing: border-box;
}
/* common */
/* button */
.button{
  border-radius: 5px;
  width: 100%;
  color: inherit;
  font-weight: bold;
  outline: none;
  border: none;
  height: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}