.body-dark{
  background-color: #0f0f0f;
  width: 100%;
  min-height: 100vh;
}

/* common */
/* button */
.button{
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}