.trending-video-thumbnail{
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}
.trending-bottom-right{
    font-size: 20px;
}
.channel-img{
    width: 30px;
    height: auto;
}
.trending-video-title{
    font-size: 0.95em;
}
.trending-channel-name{
    font-size: 0.8em;
}

.trending-dot-icon{
    height: 10px;
}
.footer-video-light{
    
    color : #727e8c;
}
.footer-video-dark{
    color: #616a70;
}
@media screen and (max-width : 576px) {
    .trending-bottom-right{
        font-size: 18px;
    }
}
@media screen and (min-width : 576px ) {
    .trending-video-thumbnail{
        max-width: 330px;
    }
    .trending-video-container{
        min-width: 70%;
    }
    .trending-video-thumbnail{
        width: 50%;
    }
    .trending-channel-name{
        font-size: 0.75em;
    }
    .view-count{
        font-size: 0.75em;
    }
    .publish{
        font-size: 0.75em;
    }
    .dot-icon{
        height: 8px;
    }
}
@media screen and (min-width : 768px ) {
    
}